<header class="header">
<div class="container">
	{% if PROFILE_IMAGE %}
		<div class="header-image pull-left">
			<a class="nodec" href="{{ SITEURL }}"><img src={{ PROFILE_IMAGE }} width="100px"></a>
		</div>
	{% endif %}
	<div class="header-inner">
		<h1 class="header-name">
			{{ SITENAME }}
		</h1>
		{% if SITE_SUBTEXT %}
			<h2 class="header-text">{{ SITE_SUBTEXT }}</h2>
		{% endif %}
		<nav>
			<ul class="header-menu list-inline">
				{% for title, link in MENU_ITEMS %}
					<li><a href="{{ link }}">{{ title }}</a></li>
				{% endfor %}
					<li><a href="{{ SITEURL }}/">Blog</a></li>
				{% for p in PAGES %}
					<li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
				{% endfor %}
				{% if GITHUB_ADDRESS %}
					<li>
						<a href="{{ GITHUB_ADDRESS }}">
							<span class="fa fa-github"></span>
						</a>
					</li>
				{% endif %}
				{% if SO_ADDRESS %}
					<li>
						<a href="{{ SO_ADDRESS }}">
							<span class="fa fa-stack-overflow"></span>
						</a>
					</li>
				{% endif %}
				{% if TWITTER_ADDRESS %}
					<li>
						<a href="{{ TWITTER_ADDRESS }}">
							<span class="fa fa-twitter"></span>
						</a>
					</li>
				{% endif %}
				{% if FB_ADDRESS %}
					<li>
						<a href="{{ FB_ADDRESS }}">
							<span class="fa fa-facebook"></span>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
</header>
