<!-- header tablet -->
<header id="header" class="section">
	<div class="container is-clearfix">
		<!-- title -->
		<div class="is-pulled-left">
			<h1 class="title is-size-1-tablet is-marginless">{{ SITENAME }}</h1>
		</div>
		<!-- buttons -->
		<nav class="field is-grouped is-pulled-right">
			<p class="control">
				<a class="button is-size-5-tablet is-dark" href="{{ SITEURL }}/">Blog</a>
			</p>
			{% for p in PAGES %}
			<p class="control">
				<a class="button is-size-5-tablet is-dark" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
			</p>
			{% endfor %}
			{% if FB_ADDRESS %}
			<p class="control">
				<a class="button is-size-5-tablet is-dark" href="{{ FB_ADDRESS }}">
					<span class="fa fa-facebook fa-fw"></span>
				</a>
			</p>
			{% endif %}
			{% if GITHUB_ADDRESS %}
			<p class="control">
				<a class="button is-size-5-tablet is-dark" href="{{ GITHUB_ADDRESS }}">
					<span class="fa fa-github fa-fw"></span>
				</a>
			</p>
			{% endif %}
			{% if GOOGLE_ADDRESS %}
			<p class="control">
				<a class="button is-size-5-tablet is-dark"   href="{{ GOOGLE_ADDRESS }}">
					<span class="fa fa-google-plus fa-fw"></span>
				</a>
			</p>
			{% endif %}
			{% if IN_ADDRESS %}
			<p class="control">
				<a class="button is-size-5-tablet is-dark" href="{{ IN_ADDRESS }}">
					<span class="fa fa-linkedin fa-fw"></span>
				</a>
			</p>
			{% endif %}
			{% if SO_ADDRESS %}
			<p class="control">
				<a class="button is-size-5-tablet is-dark" href="{{ SO_ADDRESS }}">
					<span class="fa fa-stack-overflow fa-fw"></span>
				</a>
			</p>
			{% endif %}
			{% if TWITTER_ADDRESS %}
			<p class="control">
				<a class="button is-size-5-tablet is-dark" href="{{ TWITTER_ADDRESS }}">
					<span class="fa fa-twitter fa-fw"></span>
				</a>
			</p>
			{% endif %}
			{% if YOUTUBE_ADDRESS %}
			<p class="control">
				<a class="button is-size-5-tablet is-dark" href="{{ YOUTUBE_ADDRESS }}">
					<span class="fa fa-youtube fa-fw"></span>
				</a>
			</p>
			{% endif %}
		</nav>
	</div><!-- container -->
</header>
