@import (less) "../css/pygments.css";

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic,latin-ext);

@serif: "PT Serif", "Droid Serif", Times, "Times New Roman", serif;
@sans-serif: "Droid Sans", Helvetica, "Segoe UI", sans-serif;
@monospace: "DejaVu Sans Mono", Consolas, Courier, monospace;

@foreground: #000;
@background: #2B303B;
@body: #fafafa;
@block: #fff;
@title: #2b303b;
@subtitle: #b48ead;
@border: #ddd;
@anchor: #8fa1b3;
@hover: #ebcb8b;

.heading-mixin(@size, @color) {
	font-size: @size;
	font-family: @serif;
	font-weight: bold;
	font-style: normal;
	color: @color;
	a {
		color: @color;
		&:hover {
			color: @color;
		}
	}
}

h1 { .heading-mixin(36px, @title); }
h2 { .heading-mixin(30px, @title); }
h3 { .heading-mixin(24px, @title); }
h4 { .heading-mixin(18px, @subtitle); }
h5 { .heading-mixin(16px, @subtitle); }
h6 { .heading-mixin(12px, @foreground); }

html {
	background-color: @background;
	min-width: 600px;
}

body {
	color: @foreground;
	background-color: @body;
	font-family: @sans-serif;
}

code,
kbd,
pre,
samp {
	font-family: @monospace;
}

a {
	color: @anchor;
	&:hover {
		color: @hover;
		text-decoration: none;
	}
}

.container { 
	max-width: 780px;
	.navbar-default {
		background-color: @block;
		border: 1px solid @border;
		border-radius: 4px;
	}
}

.header {
	background-color: #efefef;
	padding: 25px 0 15px 0;
	border-bottom: 1px solid @border;
	margin-bottom: 15px;
	&-image {
		margin-right: 30px;
		width: 100px;
	}
	&-name {
		font-style: italic;
		margin-top: 0;
		float: left;
	}
	&-menu {
		font-size: 18px;
		float: right;
		li {
			background-color: @background;
			padding: 5px 10px;
			margin-left: 10px;
			&:hover {
				background-color: #8fa1b3
			}
			a {
				color: #fff;
			}
		}
	}
}

.page-title {
	text-align: center;
}

.footer {
	background-color: @background;
	color: #fff;
	border-top: 1px solid @border;
	font-size: 12px;
	margin-top: 30px;
	padding: 30px 0;
}

.post-image {
	border-radius: 4px 4px 0 0;
	overflow: hidden;
	img {
		display: block;
		height: auto;
		max-width: 100%;
		margin: 0;
		text-align: center;
	}
}

.post {
	font-size: 16px;
	background-color: @block;
	border: 1px solid @border;
	border-radius: 0 0 4px 4px;
	padding: 15px;
	margin: 0 0 30px 0;
	&-title {
		margin-top: 0;
	}
	&-metadata {
		font-size: 14px;
	}
	&-date, &-category, &-tags, &-modified, &-author {
		margin-right: 15px;
	}
	&-content {
		margin: 15px 0 15px 0;
		font-family: @serif;
	}
	img {
		display: block;
		height: auto;
		max-width: 100%;
		margin: 0 auto 10px auto;
		text-align: center;
	}
}

.separator {
	margin-bottom: 30px;
	margin-top: 30px;
}

.pagination {
	margin: 0;
}

// intensedebate
#idc-container-parent {
	width: 600px;
	margin: 0 auto;
	#idc-container {
		width: 100%;
		.idc-foot {
			border-top: 0 !important;
		}
	}
}
