@import (less) "../css/icons.css";
@import (less) "../css/pygments.css";

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic,latin-ext);

@serif: "PT Serif", "Droid Serif", Times, "Times New Roman", serif;
@sans-serif: "Droid Sans", Helvetica, "Segoe UI", sans-serif;
@monospace: "DejaVu Sans Mono", Consolas, Courier, monospace;

@foreground: #000;
@background: #2B303B;
@title: #2b303b;
@subtitle: #b48ead;
@separator: #ddd;
@anchor: #8fa1b3;
@hover: #ebcb8b;

.heading-mixin(@size, @color) {
	font-size: @size;
	font-family: @serif;
	font-weight: bold;
	font-style: normal;
	color: @color;
}

h1 { .heading-mixin(36px, @title); }
h2 { .heading-mixin(30px, @title); }
h3 { .heading-mixin(24px, @title); }
h4 { .heading-mixin(18px, @subtitle); }
h5 { .heading-mixin(16px, @subtitle); }
h6 { .heading-mixin(12px, @foreground); }

html {
	background-color: @background;
	min-width: 600px;
}

body {
	color: @foreground;
	background-color: #fff;
	font-family: @sans-serif;
}

code,
kbd,
pre,
samp {
	font-family: @monospace;
}

a {
	color: @anchor;
	&:hover {
		color: @hover;
		text-decoration: none;
	}
}

.container { max-width: 760px; }

.header {
	background: url('/theme/img/bg.jpg') center no-repeat @separator;
	border-bottom: 10px solid @background;
	margin-bottom: 30px;
	padding: 30px 0 0 0;
	.header-image {
		margin-right: 30px;
		width: 100px;
	}
	.header-name {
		color: @title;
		font-size: 36px;
		font-weight: bold;
		font-style: italic;
		margin-top: 0;
	}
	.header-text {
		color: @title;
		font-size: 22px;
		margin-bottom: 38px;
		margin-top: 0;
	}
	.header-menu {
		text-align: right;
		font-size: 18px;
		margin-bottom: 0;
		li {
			background-color: @background;
			padding: 5px 10px 0 10px;
			margin-left: 10px;
			a {
				color: #fff;
			}
		}
	}
}

.footer {
	background-color: @background;
	color: #fff;
	border-top: 1px solid @separator;
	font-size: 12px;
	margin-top: 30px;
	padding: 30px 0;
}

.post {
	font-size: 16px;
	&.mini-post {
		border-bottom: 1px solid @separator;
		padding: 30px 0;
		&:last-child { border-bottom: none; }
		.post-title {
			font-size: 18px;
			font-weight: bold;
			line-height: 1.42857143; // Bootstrap rule
			margin-bottom: 10px;
			margin-top: 0;
		}
		.post-date {
			font-family: @sans-serif;
			font-size: 18px;
		}
	}
	&.full-post {
		.post-title {
			.heading-mixin(24px, @title);
			a { color: @title; }
		}
		.post-content {
			text-align: justify;
			h2 { .heading-mixin(18px; @subtitle); }
		}
	}
	.post-content {
		font-family: @serif;
		img {
			display: block;
			height: auto;
			max-width: 100%;;
			margin: 0 auto 10px auto;
		}
	}
}

.separator {
	margin-bottom: 30px;
	margin-top: 30px;
}

// intensedebate
#idc-container-parent {
	width: 600px;
	margin: 0 auto;
	#idc-container {
		width: 100%;
		.idc-foot {
			border-top: 0 !important;
		}
	}
}
