{% extends "base.html" %}

{% block head %}
	{{ super() }}
	{% if article.author %}
		<meta name="author" content="{{ article.author }}">
	{% endif %}
	{% if article.summary %}
		<meta name="description" content="{{ article.summary|striptags }}">
	{% endif %}
		<meta name="tags" contents="{% for tag in article.tags %}{{ tag }}, {% endfor %}">
{% endblock %}

{% block title %}
	{{ SITENAME }} &mdash; {{ article.title|striptags }}
{% endblock %}
{% block content %}
{% include "include/nav.html" %}
<h3 class="page-title">
	<a href="/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a>
</h3>
{% include "include/preview.html" %}
<div class="post full-post">
	{% include "include/metadata-top.html" %}
	<div class="post-content">
		{{ article.content }}
	</div>
	{% include "include/metadata-bottom.html" %}
</div>
{% include "include/disqus.html" %}
{% include "include/intensedebate.html" %}
{% endblock %}
