{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<meta name="author" content="{{ AUTHOR }}">
	<meta name="description" content="{{ META_DESCRIPTION|striptags }}">
{% endblock %}

{% block content %}
{% include "include/nav.html" %}
<h3 class="page-title">Articles</h3>
{% for article in articles_page.object_list %}
{% include "include/preview.html" %}
<div class="post mini-post">
	<h3 class="post-title">
		<a href="/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a>
	</h3>
	{% include "include/metadata-top.html" %}
	<div class="post-content">
		{{ article.summary }}
	</div>
	{% include "include/metadata-bottom.html" %}
</div>
{% endfor %}
{% include "include/pagination.html" %}
{% endblock %}
